* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.container {
    margin: 0px 20px;
    .project {
        margin: 10px 50px;
         box-shadow: 0 0 10px rgba(216, 191, 191, 0.8);

        .navbar {
            background-color: #F88379;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 80px;
            text-transform: capitalize;
            font-family: serif;

            li {
                list-style: none;
                font-size: 20px;
                font-weight: bolder;
                letter-spacing: 3px;
            }

            #img1 {
                height: 50px;
                width: 50px;

            }



        }

        .content {
           
            
            display: flex;
            justify-content: center;
            height: 600px;


            .text {
                

                width: 700px;
               
                background: linear-gradient(270deg, rgb(245, 187, 197), rgb(224, 224, 110));

                #header {

                    margin-top: 50px;
                    text-transform: uppercase;
                    font-size: 60px;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    padding-left: 100px;
                    padding-top: 20px;
                    letter-spacing: 5px;
                   

                }

                #para {
                    width: 650px;
                    font-size: 20px;
                    padding: 50px 100px;
                    text-align: justify;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

                }

                #btn {
                    color: white;
                    width: 150px;
                    height: 30px;

                    margin-left: 100px;
                    background-color: #F88379;
                    border-style: none;
                    text-transform: capitalize;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


                }

            }

            .image {
                #one {
                    height: 600px;
                    width: 700px;
                   

                }

            }
        }

    }

    .menu {
        background: linear-gradient(300deg, rgb(185, 121, 187),pink, rgb(224, 224, 110));
        box-shadow: 0 0 10px rgba(216, 191, 191, 0.8);
        height: 700px;
        margin: 10px 50px;
        display: flex;
        align-items: center;
       
        

        .menu-bar {
            
            display: flex;
            margin-left: 100px;
            height: 500px;
            align-items: center;
            gap: 20px;
    
            
           
            .img2 {
                
                .imggg1 {
                    height: 200px;
                    width: 250px;
                    margin-bottom: 5px;
                }


            }

            .imgg3 {
                #imgg4{
                    height: 410px;
                    width: 250px;
                    margin-bottom: 5px;

                }




            }
            .tt{
                background-color: #F88379;
                width: 500px;
                height: 250px;
                margin-left: 30px;
                padding: 0px  30px;
                padding-top: 20px;
                #ll{
                    text-transform: uppercase;
                    font-size: 15px;
                    margin-bottom: 20px;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

                }
                #hh1{
                    
                    text-transform: uppercase;
                    font-weight: bold;
                    letter-spacing: 5px;
                    margin-top: 10px;
                    font-size: 50px;
                   
                     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


            }
            .arrow{
               
             
                display: flex;
                 margin-top: 35px ;
                gap: 10px;
                 #click{
                    text-transform: capitalize;
                   
                   
                    font-size: 15px;
                    
                }
                #arr{
                 
                  margin-top: 0px ;
                    height: 20px;
                    width: 25px;
                }

            }


        }
    }
}
}